$active: #DD737D;
$default: #0078d7;
$canceled: rgba(218, 83, 44, .5);
$expired: #a6a6a6;

@mixin displayAs($color: $expired, $opacity: .7) {
  background-color: rgba($color, $opacity) !important;
  border: solid 1px $color;
  box-sizing: border-box;

  div._cb_C1 {
    opacity: .5;
  }
}

.old-day,
.old-day ._wx_ui,
.old-day ._cb_G1 {
  @include displayAs($expired);

  &.was-canceled {
    @include displayAs($canceled);
  }

  &.active-meeting {
    border: solid 1px $active;
    box-sizing: border-box;
  }
}

.current-date-range.today-monday .sunday {
  @include displayAs($expired);
}

.current-date-range.today-tuesday {
  .sunday,
  .monday {
    @include displayAs($expired);
  }
}

.current-date-range.today-wednesday {
  .sunday, 
  .monday,
  .tuesday {
    @include displayAs($expired);
  }
}

.current-date-range.today-thursday {
  .sunday, 
  .monday,
  .tuesday,
  .wednesday {
    @include displayAs($expired);
  }
}

.current-date-range.today-friday {
  .sunday, 
  .monday,
  .tuesday,
  .wednesday,
  .thursday {
    @include displayAs($expired);
  }
}

.current-date-range.today-saturday {
  .sunday, 
  .monday,
  .tuesday,
  .wednesday,
  .thursday
  .friday {
    @include displayAs($expired);
  }
}

.was-canceled {
  @include displayAs($canceled);
}

.active-meeting {
  border: solid 1px $active !important;
  box-sizing: border-box !important;
}

.today-column {
  border-right: solid 1px $active;
  border-left: solid 1px $active;
}